@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  color: var(--foreground);
  background: var(--background);
}


@media only screen and (max-width: 1150px) {
  .rightSide {
    display: none;
  }
}

.Grain:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 300%;
  width: 300%;
  position: absolute;
  opacity: 0.09;
  animation: animateGrain 8s steps(10) infinite;
}

@keyframes animateGrain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, -20%)
  }

  30% {
    transform: translate(-5%, -10%)
  }

  40% {
    transform: translate(-15%, -20%)
  }

  50% {
    transform: translate(-5%, -10%)
  }

  60% {
    transform: translate(-15%, -20%)
  }

  70% {
    transform: translate(-5%, -10%)
  }

  80% {
    transform: translate(-15%, -20%)
  }

  90% {
    transform: translate(-5%, -10%)
  }

  100% {
    transform: translate(-15%, -20%)
  }

}

.react-international-phone-input-container .react-international-phone-input {
  background-color: transparent !important;
  border: transparent !important;
  font-size: 15px !important;
}

.react-international-phone-country-selector-button {
  background-color: transparent !important;
  border: transparent !important;
}

.react-international-phone-country-selector-dropdown {
  border: none !important;
  padding: 15px 0 0 10px !important;
  border-radius: 10px !important;
  top: 60px !important;
  left: -20px !important;
  box-shadow: none !important;
}

.react-international-phone-country-selector-dropdown__list-item {
  margin-bottom: 8px;
}